* {
	/*this is to avoid changes in sizes 
	due borders and padding*/
	box-sizing: border-box;
}

html,
body {
	background: #1a1b21;
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	margin: 0;
}
/*
To center the container appended to root, it was
easier (or necessary with my current knowledge)
to change the root's display to flex and assign
a max-width to the container 
*/
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	max-width: 320px;
}

.InfoSection {
	margin-top: 44px;
	text-align: center;
}

.InfoSection > img {
	width: 300px;
	border-radius: 10px 10px 0px 0px;
}

.InfoSection > h1 {
	margin: 22px 0px 0px;
	font-size: 25px;
}

.InfoSection > h2 {
	margin: 7px 0px 0px;
	font-weight: normal;
	font-size: 13px;
	color: #f3bf99;
}

.InfoSection > p {
	margin: 9px 0px 0px;
	color: #f5f5f5;
}

.InfoSection > button {
	margin: 16px 0px 0px;
	width: 247px;
	height: 34px;
	font-family: 'Inter';
	font-size: 14px;
	color: #374151;
	background: white;
	border: 1px solid #d1d5db;
	border-radius: 6px;
}

/*
This is to align all elements inside a button
*/
.InfoSection > button > * {
	vertical-align: middle;
}

.InfoSection > button > span {
	margin-left: 8px;
}

.AboutSection > h2 {
	margin: 32px 35px 0px;
	font-size: 16px;
	color: #f5f5f5;
}

.AboutSection > p {
	margin: 5px 35px 0px;
	color: #dcdcdc;
}

.InterestsSection > h2 {
	margin: 27px 35px 0px;
	font-size: 16px;
	color: #f5f5f5;
}

.InterestsSection > p {
	margin: 5px 35px 0px;
	color: #dcdcdc;
}

.FooterSection {
	background: #161619;
	border-radius: 0px 0px 10px 10px;
	height: 64px;
	margin-top: 24px;
}

.FooterSection > img {
	width: 26px;
	margin-inline: 12px;
	margin-block: 19.5px;
}

.FooterSection > img:nth-child(1) {
	margin-left: 48px;
}
